@mixin tablet {
	@media (max-width: $desktopMinSize) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: $desktopMinSize) {
		@content;
	}
}

@mixin flexRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

@mixin flexCol {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
