html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: none;
  border: none;
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  html,
body {
    width: 100%;
    height: 100vh;
  }

  #app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #172d29;
  }
  #app section.sectionIntroContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    background-color: #172d29;
    transition: all 300ms ease-in-out;
    display: none;
    cursor: pointer;
  }
  #app section.sectionIntroContainer h1.h1IntroTitle {
    font-size: 8vw;
    font-weight: bolder;
    color: #fafafa;
    margin-bottom: 2.5vw;
  }
  #app section.sectionIntroContainer h2.h2IntroGreeting {
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 0.05vw;
    font-size: 2.5vw;
    color: #fafafa;
  }
  #app section.sectionSlideContainer {
    display: none;
    opacity: 0;
    transition: all 300ms ease-in-out;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    background-color: #172d29;
    position: relative;
    cursor: pointer;
  }
  #app section.sectionSlideContainer ul.ulSlideContainer {
    width: 300vw;
    height: 100%;
    display: block;
  }
  #app section.sectionSlideContainer ul.ulSlideContainer li {
    float: left;
    width: 100vw;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1000ms ease-in-out;
  }
  #app section.sectionSlideContainer h3.h3SlideTouchText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 0.05vw;
    text-shadow: rgba(10, 10, 10, 0.7) 0.1vw 0.1vw 0.3vw;
    font-weight: bolder;
    font-size: 5vw;
    color: #fafafa;
  }
  #app section.sectionTakeOutContainer {
    width: 100%;
    height: 100%;
    background-image: url("../../images/deliveryImage01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: none;
    opacity: 0;
    transition: all 300ms ease-in-out;
    position: relative;
  }
  #app section.sectionTakeOutContainer .divWrapperTakeOutContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0a0a0a;
    opacity: 0.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #app section.sectionTakeOutContainer .divWrapperTakeOutButtonContainer {
    position: absolute;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  #app section.sectionTakeOutContainer .divWrapperTakeOutButtonContainer button {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 0.05vw;
    font-weight: bolder;
    text-shadow: rgba(10, 10, 10, 0.5) 0.1vw 0.1vw 0.3vw;
    color: #fafafa;
    font-size: 6vw;
    cursor: pointer;
  }
  #app section.sectionTakeOutContainer .divWrapperTakeOutButtonContainer button.buttonTakeOut {
    margin-right: 3vw;
  }
  #app section.sectionTakeOutContainer .divWrapperTakeOutButtonContainer button.buttonStore {
    margin-left: 3vw;
  }
  #app section.sectionSelectProductContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: none;
    opacity: 0;
    transition: all 300ms ease-in-out;
    position: relative;
    padding-top: 8vw;
    padding-bottom: 8vw;
    background-color: #fafafa;
  }
  #app section.sectionSelectProductContainer nav.navKioskContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
  }
  #app section.sectionSelectProductContainer nav.navKioskContainer h1.h1NavKioskTitle {
    margin-top: 1vw;
    font-size: 5.5vw;
    font-weight: bolder;
    font-family: "Archivo Black", sans-serif;
    color: #174841;
    cursor: pointer;
  }
  #app section.sectionSelectProductContainer nav.navKioskContainer .divKioskTimer {
    font-size: 2.7vw;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 0.05vw;
    font-weight: bold;
    color: #174841;
  }
  #app section.sectionSelectProductContainer ul.ulSelectProductCategoryContainer {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2vw;
  }
  #app section.sectionSelectProductContainer ul.ulSelectProductCategoryContainer li.liSelectProductCategoryItem {
    width: 100%;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 0.05vw;
    color: #fafafa;
    font-size: 1.8vw;
    font-weight: bold;
    text-align: center;
    padding: 1.5vw 0;
    background-color: #16584e;
    transition: all 300ms ease-in-out;
    margin-bottom: 0.5vw;
    cursor: pointer;
  }
  #app section.sectionSelectProductContainer ul.ulSelectProductCategoryContainer li.liSelectProductCategoryItem:nth-child(1) {
    background-color: #193c36;
  }
  #app section.sectionSelectProductContainer ul.ulSelectProductWrapperContainer {
    width: 57%;
    height: 100%;
    overflow: hidden;
  }
  #app section.sectionSelectProductContainer ul.ulSelectProductWrapperContainer ul.ulSelectProductListContainer {
    width: 100%;
    max-height: 100%;
    flex-wrap: wrap;
    display: none;
    transition: all 300ms ease-in-out;
    opacity: 0;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 2vw;
    overflow: auto;
  }
  #app section.sectionSelectProductContainer ul.ulSelectProductWrapperContainer ul.ulSelectProductListContainer ul.ulSelectProductItemContainer {
    width: 10vw;
    height: 14vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  #app section.sectionSelectProductContainer ul.ulSelectProductWrapperContainer ul.ulSelectProductListContainer ul.ulSelectProductItemContainer li {
    width: 100%;
    text-align: center;
  }
  #app section.sectionSelectProductContainer ul.ulSelectProductWrapperContainer ul.ulSelectProductListContainer ul.ulSelectProductItemContainer li.liSelectProductImageItem {
    height: 10vw;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0.3vw;
  }
  #app section.sectionSelectProductContainer ul.ulSelectProductWrapperContainer ul.ulSelectProductListContainer ul.ulSelectProductItemContainer li.liSelectProductNameItem {
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 0.05vw;
    font-size: 1.5vw;
    color: #0a0a0a;
    margin-bottom: 0.5vw;
  }
  #app section.sectionSelectProductContainer ul.ulSelectProductWrapperContainer ul.ulSelectProductListContainer ul.ulSelectProductItemContainer li.liSelectProductPriceItem {
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 0.05vw;
    font-size: 1.3vw;
    color: #0a0a0a;
  }
  #app section.sectionSelectProductContainer ul.ulSelectProductWrapperContainer ul.ulSelectProductListContainer::-webkit-scrollbar {
    display: none;
  }
  #app section.sectionSelectProductContainer ul.ulSelectProductWrapperContainer ul.ulSelectProductListContainer:nth-child(1) {
    display: flex;
    opacity: 1;
  }
  #app section.sectionSelectProductContainer .divSelectedProductWrapperContainer {
    width: 23%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 2vw;
    padding-left: 1vw;
  }
  #app section.sectionSelectProductContainer .divSelectedProductWrapperContainer ul.ulSelectedProductListContainer {
    width: 100%;
    height: 60%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
  }
  #app section.sectionSelectProductContainer .divSelectedProductWrapperContainer .divPayWrapperContainer {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #app section.sectionSelectProductContainer .divSelectedProductWrapperContainer .divPayWrapperContainer .divPayInfoContainer {
    width: 100%;
    height: 45%;
    padding-bottom: 2%;
  }
  #app section.sectionSelectProductContainer .divSelectedProductWrapperContainer .divPayWrapperContainer .divPayInfoContainer .divTotalNumberContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
  }
  #app section.sectionSelectProductContainer .divSelectedProductWrapperContainer .divPayWrapperContainer .divPayInfoContainer .divTotalNumberContainer span {
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 0.05vw;
    font-weight: bold;
  }
  #app section.sectionSelectProductContainer .divSelectedProductWrapperContainer .divPayWrapperContainer .divPayInfoContainer .divTotalNumberContainer span.spanTotalNumberText {
    font-size: 2.3vw;
    text-align: left;
    width: 80%;
  }
  #app section.sectionSelectProductContainer .divSelectedProductWrapperContainer .divPayWrapperContainer .divPayInfoContainer .divTotalNumberContainer span.spanTotalNumberValue {
    font-size: 2.2vw;
    width: 20%;
    text-align: right;
  }
  #app section.sectionSelectProductContainer .divSelectedProductWrapperContainer .divPayWrapperContainer .divPayInfoContainer .divTotalAmountContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
  }
  #app section.sectionSelectProductContainer .divSelectedProductWrapperContainer .divPayWrapperContainer .divPayInfoContainer .divTotalAmountContainer span {
    font-size: 2.2vw;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 0.05vw;
  }
  #app section.sectionSelectProductContainer .divSelectedProductWrapperContainer .divPayWrapperContainer .divPayInfoContainer .divTotalAmountContainer span.spanTotalAmountText {
    text-align: left;
    width: 60%;
  }
  #app section.sectionSelectProductContainer .divSelectedProductWrapperContainer .divPayWrapperContainer .divPayInfoContainer .divTotalAmountContainer span.spanTotalAmountValue {
    text-align: right;
    width: 40%;
  }
  #app section.sectionSelectProductContainer .divSelectedProductWrapperContainer .divPayWrapperContainer button {
    width: 100%;
    height: 25%;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 0.05vw;
    font-size: 2.5vw;
    font-weight: bolder;
    color: #fafafa;
    transition: all 300ms ease-in-out;
    cursor: pointer;
  }
  #app section.sectionSelectProductContainer .divSelectedProductWrapperContainer .divPayWrapperContainer button.buttonPay {
    background-color: #172d29;
    margin-bottom: 5%;
  }
  #app section.sectionSelectProductContainer .divSelectedProductWrapperContainer .divPayWrapperContainer button.buttonCancel {
    background-color: #cf3131;
  }
  #app section.sectionSelectProductContainer footer.footerKioskContainer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #172d29;
    border-top: 1vw solid #fafafa;
  }
  #app section.sectionSelectProductContainer footer.footerKioskContainer div {
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 0.05vw;
    font-size: 1.5vw;
    color: #fafafa;
  }
  #app section.sectionSelectProductContainer footer.footerKioskContainer .divEmail {
    margin-bottom: 1.5vw;
  }
  #app section.sectionSelectProductContainer footer.footerKioskContainer .divContactMe {
    font-size: 1.1vw;
  }
  #app section.sectionOptionContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease-in-out;
    position: relative;
    padding-top: 8vw;
    padding-bottom: 8vw;
    background-color: #fafafa;
  }
  #app section.sectionOptionContainer nav.navKioskContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
  }
  #app section.sectionOptionContainer nav.navKioskContainer h1.h1NavKioskTitle {
    margin-top: 1vw;
    font-size: 5.5vw;
    font-weight: bolder;
    font-family: "Archivo Black", sans-serif;
    color: #174841;
    cursor: pointer;
  }
  #app section.sectionOptionContainer nav.navKioskContainer .divKioskTimer {
    font-size: 2.7vw;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 0.05vw;
    font-weight: bold;
    color: #174841;
  }
  #app section.sectionOptionContainer .divOptionWrapperContainer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2vw;
    padding-bottom: 1vw;
  }
  #app section.sectionOptionContainer .divOptionWrapperContainer .divOptionCustomContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    overflow: hidden;
  }
  #app section.sectionOptionContainer .divOptionWrapperContainer .divOptionCustomContainer h4 {
    color: #172d29;
    font-size: 1.7vw;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 0.05vw;
    font-weight: bolder;
    margin-bottom: 0.5vw;
  }
  #app section.sectionOptionContainer .divOptionWrapperContainer .divOptionCustomContainer ul {
    width: 100%;
    padding-left: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 1vw;
  }
  #app section.sectionOptionContainer .divOptionWrapperContainer .divOptionCustomContainer ul li {
    font-family: "Times New Roman", Times, serif;
    width: 100%;
    letter-spacing: 0.05vw;
    font-size: 1.3vw;
    background-color: #1e8d7c;
    padding: 0.4vw 1vw;
    text-align: center;
    margin-right: 0.1vw;
    color: #fafafa;
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }
  #app section.sectionOptionContainer .divOptionWrapperContainer .divOptionCustomContainer ul li:last-child {
    margin-right: 0;
  }
  #app section.sectionOptionContainer .divOptionWrapperContainer .divOptionCustomContainer ul:last-child {
    margin-bottom: 0;
  }
  #app section.sectionOptionContainer .divOptionWrapperContainer .divOptionCustomContainer ul.ulOptionSizeContainer li:first-child {
    background-color: #193c36;
  }
  #app section.sectionOptionContainer .divOptionWrapperContainer .divOptionCustomContainer ul.ulOptionEspressoShotContainer li:first-child {
    background-color: #193c36;
  }
  #app section.sectionOptionContainer .divOptionWrapperContainer .divOptionCustomContainer ul.ulOptionIceContainer li:first-child {
    background-color: #193c36;
  }
  #app section.sectionOptionContainer .divProductWrapperContainer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2vw;
  }
  #app section.sectionOptionContainer .divProductWrapperContainer .divProductImage {
    width: 20vw;
    height: 20vw;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #app section.sectionOptionContainer .divProductWrapperContainer h3.h3ProductName {
    padding-top: 1.5vw;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 0.05vw;
    font-size: 1.9vw;
    font-weight: bolder;
    padding-bottom: 0.5vw;
  }
  #app section.sectionOptionContainer .divProductWrapperContainer .divProductCategory {
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 0.05vw;
    font-weight: bolder;
    font-size: 1.4vw;
    padding-bottom: 1.5vw;
  }
  #app section.sectionOptionContainer .divProductWrapperContainer .divOptionButtonContainer {
    width: 100%;
    height: 4.5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  #app section.sectionOptionContainer .divProductWrapperContainer .divOptionButtonContainer button {
    width: 50%;
    height: 100%;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 0.05vw;
    font-weight: bolder;
    font-size: 2vw;
    color: #fafafa;
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }
  #app section.sectionOptionContainer .divProductWrapperContainer .divOptionButtonContainer button.buttonAddToCart {
    background-color: #172d29;
  }
  #app section.sectionOptionContainer .divProductWrapperContainer .divOptionButtonContainer button.buttonCancel {
    background-color: #cf3131;
  }
  #app section.sectionOptionContainer footer.footerKioskContainer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #172d29;
    border-top: 1vw solid #fafafa;
  }
  #app section.sectionOptionContainer footer.footerKioskContainer div {
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 0.05vw;
    font-size: 1.5vw;
    color: #fafafa;
  }
  #app section.sectionOptionContainer footer.footerKioskContainer .divEmail {
    margin-bottom: 1.5vw;
  }
  #app section.sectionOptionContainer footer.footerKioskContainer .divContactMe {
    font-size: 1.1vw;
  }
}
@media (min-width: 758px) and (max-width: 1024px) {
  html,
body {
    width: 100%;
    height: 100vh;
  }

  div#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 335px) and (max-width: 758px) {
  html,
body {
    width: 100%;
    height: 100vh;
  }

  div#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */