@import 'reset';
@import 'variable';
@import 'mixin';

@include desktop {
	html,
	body {
		width: 100%;
		height: 100vh;
	}
	#app {
		width: 100%;
		height: 100%;
		@include flexRow();
		background-color: #172d29;
		section.sectionIntroContainer {
			width: 100%;
			height: 100%;
			@include flexCol();
			font-size: 5vw;
			background-color: #172d29;
			transition: all 300ms ease-in-out;
			// for Test
			// display: none;
			cursor: pointer;
			h1.h1IntroTitle {
				font-size: 8vw;
				font-weight: bolder;
				color: #fafafa;
				margin-bottom: 2.5vw;
			}
			h2.h2IntroGreeting {
				font-family: 'Times New Roman', Times, serif;
				font-size: 2.5vw;
				color: #fafafa;
			}
		}
		section.sectionSlideContainer {
			display: none;
			opacity: 0;
			transition: all 300ms ease-in-out;
			width: 100vw;
			height: 100%;
			overflow: hidden;
			background-color: #172d29;
			position: relative;
			cursor: pointer;
			ul.ulSlideContainer {
				width: 300vw;
				height: 100%;
				display: block;
				li {
					float: left;
					width: 100vw;
					height: 100%;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-size: cover;
					transition: all 1500ms ease-in-out;
				}
			}
			h3.h3SlideTouchText {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-family: 'Times New Roman', Times, serif;
				text-shadow: rgba(#0a0a0a, 0.7) 0.1vw 0.1vw 0.3vw;
				font-weight: bolder;
				font-size: 5vw;
				color: #fafafa;
			}
		}
		section.sectionTakeOutContainer {
			width: 100%;
			height: 100%;
			background-image: url('../../images/deliveryImage01.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 50% 50%;
			@include flexRow();
			display: none;
			opacity: 0;
			transition: all 300ms ease-in-out;
			position: relative;
			.divWrapperTakeOutContainer {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: #0a0a0a;
				opacity: 0.2;
				@include flexCol();
			}
			.divWrapperTakeOutButtonContainer {
				position: absolute;
				width: 100%;
				height: 30%;
				@include flexRow();
				background-color: transparent;
				button {
					width: 30%;
					height: 100%;
					@include flexRow();
					background-color: transparent;
					font-family: 'Times New Roman', Times, serif;
					font-weight: bolder;
					text-shadow: rgba(#0a0a0a, 0.5) 0.1vw 0.1vw 0.3vw;
					color: #fafafa;
					font-size: 6vw;
					cursor: pointer;
				}
				button.buttonTakeOut {
					margin-right: 3vw;
				}
				button.buttonStore {
					margin-left: 3vw;
				}
				
			}
		}
	}
}

@include tablet {
	html,
	body {
		width: 100%;
		height: 100vh;
	}
	div#app {
		width: 100%;
		height: 100%;
		@include flexRow();
	}
}

@include mobile {
	html,
	body {
		width: 100%;
		height: 100vh;
	}
	div#app {
		width: 100%;
		height: 100%;
		@include flexRow();
	}
}
