@import 'reset';
@import 'variable';
@import 'mixin';

@include desktop {
	html,
	body {
		width: 100%;
		height: 100vh;
	}
	#app {
		width: 100%;
		height: 100%;
		@include flexRow();
		background-color: #172d29;
		section.sectionIntroContainer {
			width: 100%;
			height: 100%;
			@include flexCol();
			font-size: 5vw;
			background-color: #172d29;
			transition: all 300ms ease-in-out;
			// for Test
			display: none;
			cursor: pointer;
			h1.h1IntroTitle {
				font-size: 8vw;
				font-weight: bolder;
				color: #fafafa;
				margin-bottom: 2.5vw;
			}
			h2.h2IntroGreeting {
				font-family: 'Times New Roman', Times, serif;
				letter-spacing: 0.05vw;
				font-size: 2.5vw;
				color: #fafafa;
			}
		}
		section.sectionSlideContainer {
			display: none;
			opacity: 0;
			transition: all 300ms ease-in-out;
			width: 100vw;
			height: 100%;
			overflow: hidden;
			background-color: #172d29;
			position: relative;
			cursor: pointer;
			ul.ulSlideContainer {
				width: 300vw;
				height: 100%;
				display: block;
				li {
					float: left;
					width: 100vw;
					height: 100%;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-size: cover;
					transition: all 1000ms ease-in-out;
				}
			}
			h3.h3SlideTouchText {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-family: 'Times New Roman', Times, serif;
				letter-spacing: 0.05vw;
				text-shadow: rgba(#0a0a0a, 0.7) 0.1vw 0.1vw 0.3vw;
				font-weight: bolder;
				font-size: 5vw;
				color: #fafafa;
			}
		}
		section.sectionTakeOutContainer {
			width: 100%;
			height: 100%;
			background-image: url('../../images/deliveryImage01.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 50% 50%;
			@include flexRow();
			display: none;
			opacity: 0;
			transition: all 300ms ease-in-out;
			position: relative;
			.divWrapperTakeOutContainer {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: #0a0a0a;
				opacity: 0.2;
				@include flexCol();
			}
			.divWrapperTakeOutButtonContainer {
				position: absolute;
				width: 100%;
				height: 30%;
				@include flexRow();
				background-color: transparent;
				button {
					width: 30%;
					height: 100%;
					@include flexRow();
					background-color: transparent;
					font-family: 'Times New Roman', Times, serif;
					letter-spacing: 0.05vw;
					font-weight: bolder;
					text-shadow: rgba(#0a0a0a, 0.5) 0.1vw 0.1vw 0.3vw;
					color: #fafafa;
					font-size: 6vw;
					cursor: pointer;
				}
				button.buttonTakeOut {
					margin-right: 3vw;
				}
				button.buttonStore {
					margin-left: 3vw;
				}
			}
		}
		section.sectionSelectProductContainer {
			width: 100%;
			height: 100%;
			@include flexRow();
			display: none;
			opacity: 0;
			transition: all 300ms ease-in-out;
			position: relative;
			padding-top: 8vw;
			padding-bottom: 8vw;
			background-color: #fafafa;
			nav.navKioskContainer {
				// 부모요소가 padding-top: 8vw, position: relative를 가지고 있어야함.
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 7vw;
				@include flexRow();
				justify-content: space-between;
				padding: 0 2vw;
				h1.h1NavKioskTitle {
					margin-top: 1vw;
					font-size: 5.5vw;
					font-weight: bolder;
					font-family: 'Archivo Black', sans-serif;
					color: #174841;
					cursor: pointer;
				}
				.divKioskTimer {
					font-size: 2.7vw;
					font-family: 'Times New Roman', Times, serif;
					letter-spacing: 0.05vw;
					font-weight: bold;
					color: #174841;
				}
			}
			ul.ulSelectProductCategoryContainer {
				width: 20%;
				height: 100%;
				@include flexCol();
				justify-content: flex-start;
				padding-left: 2vw;
				li.liSelectProductCategoryItem {
					width: 100%;
					font-family: 'Times New Roman', Times, serif;
					letter-spacing: 0.05vw;
					color: #fafafa;
					font-size: 1.8vw;
					font-weight: bold;
					text-align: center;
					padding: 1.5vw 0;
					background-color: #16584e;
					transition: all 300ms ease-in-out;
					margin-bottom: 0.5vw;
					cursor: pointer;
				}
				li.liSelectProductCategoryItem:nth-child(1) {
					background-color: #193c36;
				}
			}
			ul.ulSelectProductWrapperContainer {
				width: 57%;
				height: 100%;
				overflow: hidden;
				ul.ulSelectProductListContainer {
					width: 100%;
					max-height: 100%;
					flex-wrap: wrap;
					display: none;
					transition: all 300ms ease-in-out;
					opacity: 0;
					justify-content: flex-start;
					align-items: flex-start;
					padding-left: 2vw;
					overflow: auto;
					ul.ulSelectProductItemContainer {
						width: 10vw;
						height: 14vw;
						margin-right: 1vw;
						margin-bottom: 1vw;
						@include flexCol();
						cursor: pointer;
						li {
							width: 100%;
							text-align: center;
						}
						li.liSelectProductImageItem {
							height: 10vw;
							background-position: 50% 50%;
							background-repeat: no-repeat;
							background-size: cover;
							margin-bottom: 0.3vw;
						}
						li.liSelectProductNameItem {
							font-family: 'Times New Roman', Times, serif;
							letter-spacing: 0.05vw;
							font-size: 1.5vw;
							color: #0a0a0a;
							margin-bottom: 0.5vw;
						}
						li.liSelectProductPriceItem {
							font-family: 'Times New Roman', Times, serif;
							letter-spacing: 0.05vw;
							font-size: 1.3vw;
							color: #0a0a0a;
						}
					}
				}
				ul.ulSelectProductListContainer::-webkit-scrollbar {
					display: none;
				}
				ul.ulSelectProductListContainer:nth-child(1) {
					display: flex;
					opacity: 1;
				}
			}
			.divSelectedProductWrapperContainer {
				width: 23%;
				height: 100%;
				@include flexCol();
				padding-right: 2vw;
				padding-left: 1vw;
				ul.ulSelectedProductListContainer {
					width: 100%;
					height: 60%;
					border: 1px solid black;
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					overflow: auto;
				}
				.divPayWrapperContainer {
					width: 100%;
					height: 40%;
					@include flexCol();
					.divPayInfoContainer {
						width: 100%;
						height: 45%;
						padding-bottom: 2%;
						.divTotalNumberContainer {
							@include flexRow();
							width: 100%;
							height: 50%;
							span {
								font-family: 'Times New Roman', Times, serif;
								letter-spacing: 0.05vw;
								font-weight: bold;
							}
							span.spanTotalNumberText {
								font-size: 2.3vw;
								text-align: left;
								width: 80%;
							}
							span.spanTotalNumberValue {
								font-size: 2.2vw;
								width: 20%;
								text-align: right;
							}
						}
						.divTotalAmountContainer {
							@include flexRow();
							width: 100%;
							height: 50%;
							span {
								font-size: 2.2vw;
								font-weight: bold;
								font-family: 'Times New Roman', Times, serif;
								letter-spacing: 0.05vw;
							}
							span.spanTotalAmountText {
								text-align: left;
								width: 60%;
							}
							span.spanTotalAmountValue {
								text-align: right;
								width: 40%;
							}
						}
					}
					button {
						width: 100%;
						height: 25%;
						font-family: 'Times New Roman', Times, serif;
						letter-spacing: 0.05vw;
						font-size: 2.5vw;
						font-weight: bolder;
						color: #fafafa;
						transition: all 300ms ease-in-out;
						cursor: pointer;
					}
					button.buttonPay {
						background-color: #172d29;
						margin-bottom: 5%;
					}
					button.buttonCancel {
						background-color: #cf3131;
					}
				}
			}
			footer.footerKioskContainer {
				// 부모요소가 padding-bottom: 8vw, position: relative를 가지고 있어야함.
				position: absolute;
				width: 100%;
				bottom: 0;
				left: 0;
				height: 8vw;
				@include flexCol();
				background-color: #172d29;
				border-top: 1vw solid #fafafa;
				div {
					font-family: 'Times New Roman', Times, serif;
					letter-spacing: 0.05vw;
					font-size: 1.5vw;
					color: #fafafa;
				}
				.divEmail {
					margin-bottom: 1.5vw;
				}
				.divContactMe {
					font-size: 1.1vw;
				}
			}
		}
		section.sectionOptionContainer {
			width: 100%;
			height: 100%;
			@include flexRow();
			// display: none;
			// opacity: 0;
			transition: all 300ms ease-in-out;
			position: relative;
			padding-top: 8vw;
			padding-bottom: 8vw;
			background-color: #fafafa;
			nav.navKioskContainer {
				// 부모요소가 padding-top: 8vw, position: relative를 가지고 있어야함.
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 7vw;
				@include flexRow();
				justify-content: space-between;
				padding: 0 2vw;
				h1.h1NavKioskTitle {
					margin-top: 1vw;
					font-size: 5.5vw;
					font-weight: bolder;
					font-family: 'Archivo Black', sans-serif;
					color: #174841;
					cursor: pointer;
				}
				.divKioskTimer {
					font-size: 2.7vw;
					font-family: 'Times New Roman', Times, serif;
					letter-spacing: 0.05vw;
					font-weight: bold;
					color: #174841;
				}
			}
			.divOptionWrapperContainer {
				// border: 1px solid black;
				width: 60%;
				height: 100%;
				@include flexRow();
				padding-left: 2vw;
				// border: 1px solid black;
				ul.ulOptionListContainer {
					border: 1px solid black;
					width: 22%;
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					padding-top: 1vw;
					li.liDefaultOption {
					}
					ul.ulDefaultOptionContainer {
						font-size: 1.7vw;
						font-family: 'Times New Roman', Times, serif;
						font-weight: bolder;
						padding-bottom: 0.5vw;
						cursor: pointer;
						margin-bottom: 1vw;
						line-height: 3vw;
						li {
							margin-left: 2vw;
							font-family: 'Times New Roman', Times, serif;
							font-size: 1.3vw;
							line-height: normal;
							font-weight: normal;
							position: relative;
						}
						li::before {
							position: absolute;
							background-color: #0a0a0a;
							width: 7px;
							height: 2px;
							content: '';
							top: 50%;
							left: -15px;
						}
					}
					ul.ulAdditionalOptionContainer {
						font-size: 1.7vw;
						font-family: 'Times New Roman', Times, serif;
						font-weight: bolder;
						cursor: pointer;
						line-height: 3vw;
						li {
							margin-left: 2vw;
							line-height: normal;
							font-weight: normal;
							font-family: 'Times New Roman', Times, serif;
							font-size: 1.3vw;
							position: relative;
						}
						li::before {
							position: absolute;
							background-color: #0a0a0a;
							width: 7px;
							height: 2px;
							content: '';
							top: 50%;
							left: -15px;
						}
					}
				}
				.divOptionCustomContainer {
					border: 1px solid black;
					width: 78%;
					height: 100%;
					position: relative;
					.divDefaultOptionContainer {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						transition: all 300ms ease-in-out;
						padding-left: 1.3vw;
						padding-top: 1.5vw;
						.divSizeOptionContainer {
							width: 100%;
							height: 40%;
							border: 1px solid black;
							h4 {
								font-size: 2vw;
								font-family: 'Times New Roman', Times, serif;
								font-weight: bold;
								height: 25%;
							}
							ul.ulSizeListWrapperContainer {
								width: 100%;
								height: 75%;
								@include flexRow();
								ul.ulSizeListContainer {
									width: 25%;
									height: 100%;
									@include flexCol();
									border: 1px solid black;
									li {
										font-family: 'Times New Roman', Times, serif;
									}
									li.liCoffeeCup:nth-child(1) {
										width: 100%;
										background-position: 50% 50%;
										background-repeat: no-repeat;
										background-size: contain;
										height: 45%;
										margin-top: 15%;
									}
									li.liSize {
										@include flexRow();
										margin-top: 5%;
										height: 20%;
										font-size: 1.5vw;
										// border: 1px solid black;
									}
									li.liMeasurement {
										@include flexRow();
										font-size: 1.3vw;
										height: 15%;
									}
								}
								ul.ulSizeListContainer:nth-child(2) li.liCoffeeCup {
									width: 100%;
									background-position: 50% 50%;
									background-repeat: no-repeat;
									background-size: contain;
									height: 50%;
									margin-top: 10%;
								}
								ul.ulSizeListContainer:nth-child(3) li.liCoffeeCup {
									width: 100%;
									background-position: 50% 50%;
									background-repeat: no-repeat;
									background-size: contain;
									height: 55%;
									margin-top: 5%;
								}
								ul.ulSizeListContainer:nth-child(4) li.liCoffeeCup {
									width: 100%;
									background-position: 50% 50%;
									background-repeat: no-repeat;
									background-size: contain;
									height: 60%;
									margin-top: 0;
								}
							}
						}
						.divIceOptionContainer {
							width: 100%;
							height: 60%;
							border: 1px solid black;
						}
					}
					.divAdditionalOptionContainer {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						display: none;
						opacity: 0;
						transition: all 300ms ease-in-out;
					}
				}
			}
			.divProductWrapperContainer {
				width: 40%;
				height: 100%;
				@include flexCol();
				padding: 0 2vw;
				border: 1px solid black;
				.divProductImageContainer {
					width: 100%;
					height: 60%;
					border: 1px solid black;
					@include flexRow();
					padding-bottom: 1%;
					// align-items: flex-start;
					.divProductImage {
						width: 40%;
						padding-bottom: 40%;
						background-position: 50% 50%;
						background-repeat: no-repeat;
						background-size: cover;
					}
				}
				h3.h3ProductName {
					@include flexRow();
					height: 10%;
					border: 1px solid black;
					font-family: 'Times New Roman', Times, serif;
					letter-spacing: 0.05vw;
					font-size: 1.9vw;
					font-weight: bolder;
				}
				.divProductCategory {
					@include flexRow();
					border: 1px solid black;
					height: 10%;
					font-family: 'Times New Roman', Times, serif;
					letter-spacing: 0.05vw;
					font-weight: bolder;
					font-size: 1.4vw;
				}
				.divOptionButtonContainer {
					width: 100%;
					height: 20%;
					@include flexRow();
					justify-content: space-between;
					border: 1px solid black;
					button {
						width: 50%;
						height: 70%;
						font-family: 'Times New Roman', Times, serif;
						letter-spacing: 0.05vw;
						font-weight: bolder;
						font-size: 2vw;
						color: #fafafa;
						cursor: pointer;
						transition: all 300ms ease-in-out;
					}
					button.buttonAddToCart {
						background-color: #172d29;
					}
					button.buttonCancel {
						background-color: #cf3131;
					}
				}
			}
			footer.footerKioskContainer {
				// 부모요소가 padding-bottom: 8vw, position: relative를 가지고 있어야함.
				position: absolute;
				width: 100%;
				bottom: 0;
				left: 0;
				height: 8vw;
				@include flexCol();
				background-color: #172d29;
				border-top: 1vw solid #fafafa;
				div {
					font-family: 'Times New Roman', Times, serif;
					letter-spacing: 0.05vw;
					font-size: 1.5vw;
					color: #fafafa;
				}
				.divEmail {
					margin-bottom: 1.5vw;
				}
				.divContactMe {
					font-size: 1.1vw;
				}
			}
		}
	}
}

@include tablet {
	html,
	body {
		width: 100%;
		height: 100vh;
	}
	div#app {
		width: 100%;
		height: 100%;
		@include flexRow();
	}
}

@include mobile {
	html,
	body {
		width: 100%;
		height: 100vh;
	}
	div#app {
		width: 100%;
		height: 100%;
		@include flexRow();
	}
}
