$tabletMinSize: 758px;
$desktopMinSize: 1024px;

$darkGreen: #172d29;
$littleDarkGreen: #193c36;
$Green: #174841;
$littleBrightGreen: #16584e;
$white: #fafafa;
$black: #0a0a0a;
$brightGray: #ededed;
$red: #cf3131;
$modalBackgroundColor: #202020;
